.button {
  font-family: "Nunito Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 1.5rem;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 18.2px;
}
.primary {
  color: #fff;
  background-color: #ef8200;
}
.secondary {
  color: #0098cd;
  background-color: transparent;
  box-shadow: currentColor 0px 0px 0px 2px inset;
}
.small {
  font-size: 12px;
  padding: 10px 16px;
  max-width: 162px;
  height: initial;
  width: 100%;
}
.medium {
  font-size: 14px;
  padding: 10px 20px;
  max-width: 200px;
  width: 100%;
}
.large {
  font-size: 16px;
  padding: 10px 20px;
  max-width: 286px;
  width: 100%;
}
